Repository TileDB-Inc/TileDB, pull requests merged in 2018-10, with the labels that each got.

#973 Remove unnecesary metadata field from positive-delta filter.
  test/src/unit-filter-pipeline.cc
  tiledb/sm/filter/positive_delta_filter.cc
  tiledb/sm/filter/positive_delta_filter.h
Labels: disk format, filters

#974 Make C API enum values explicitly defined; add test.
  test/CMakeLists.txt
  test/src/unit-capi-enum_values.cc
  tiledb/sm/c_api/tiledb_enum.h
  tiledb/sm/enums/filter_type.h
Labels: C API, internals

#978 Use explicit bit widths for serialized datatypes.
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/attribute.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/enums/array_type.h
  tiledb/sm/enums/compressor.h
  tiledb/sm/enums/datatype.h
  tiledb/sm/enums/encryption_type.h
  tiledb/sm/enums/filesystem.h
  tiledb/sm/enums/filter_option.h
  tiledb/sm/enums/filter_type.h
  tiledb/sm/enums/layout.h
  tiledb/sm/enums/object_type.h
  tiledb/sm/enums/query_status.h
  tiledb/sm/enums/query_type.h
  tiledb/sm/enums/vfs_mode.h
  tiledb/sm/enums/walk_order.h
  tiledb/sm/filter/compression_filter.cc
  tiledb/sm/filter/filter.cc
  tiledb/sm/filter/filter_pipeline.cc
  tiledb/sm/misc/constants.h
Labels: disk format, internals

#980 Add support for encrypted arrays to C++ API.
  HISTORY.md
  doc/source/c-api.rst
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-map.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/cpp_api/map_schema.h
  tiledb/sm/cpp_api/query.h
Labels: API Addition, C++ API, encryption

#981 Change all C API integers to have explicit bit widths.
  HISTORY.md
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
Labels: C API

#983 Convert internal KV special key attribute to TILEDB_ANY.
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/kv/kv.cc
  tiledb/sm/kv/kv_item.cc
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
Labels: internals, key value

#986 Add C++ filter API and tests.
  HISTORY.md
  doc/source/c++-api.rst
  test/CMakeLists.txt
  test/src/unit-cppapi-filter.cc
  tiledb/CMakeLists.txt
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/deleter.h
  tiledb/sm/cpp_api/filter.h
  tiledb/sm/cpp_api/filter_list.h
  tiledb/sm/cpp_api/tiledb
Labels: API Addition, C++ API, filters

#989 Deprecate compression C and C++ APIs.
  HISTORY.md
  doc/source/conf.py
  examples/cpp_api/using_tiledb_stats.cc
  examples/cpp_api/writing_dense_sparse.cc
  test/CMakeLists.txt
  test/src/helpers.h
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-async.cc
  test/src/unit-capi-consistency.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-dense_neg.cc
  test/src/unit-capi-incomplete.cc
  test/src/unit-capi-kv.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_neg.cc
  test/src/unit-capi-sparse_real.cc
  test/src/unit-capi-string.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-map.cc
  test/src/unit-cppapi-schema.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/compressor.h
Labels: C API, C++ API, deprecation

#984 Added functionality for opening an array or a key-value store at a timestamp.
  HISTORY.md
  doc/source/c-api.rst
  doc/source/tutorials/concurrency-consistency.rst
  test/src/unit-capi-array.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-dense_neg.cc
  test/src/unit-capi-dense_vector.cc
  test/src/unit-capi-kv.cc
  test/src/unit-capi-object_mgmt.cc
  test/src/unit-capi-query.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_neg.cc
  test/src/unit-capi-sparse_real.cc
  test/src/unit-capi-vfs.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-map.cc
  tiledb/sm/array/array.cc
  tiledb/sm/array/array.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/kv/kv.cc
  tiledb/sm/kv/kv.h
  tiledb/sm/misc/uri.cc
  tiledb/sm/misc/uri.h
  tiledb/sm/misc/utils.cc
  tiledb/sm/misc/utils.h
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/open_array.cc
  tiledb/sm/storage_manager/open_array.h
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
Labels: API Addition, enhancement

#991 Catch internal exceptions when calling into C++ code.
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
Labels: internals

#994 Add v1.3.0 array and test that opening it fails.
  test/CMakeLists.txt
  test/inputs/arrays/dense_array_v1_3_0/__array_schema.tdb
  test/inputs/arrays/dense_array_v1_3_0/__b4cae15e1a294904a1296510c34f19ec_1538747712566/__fragment_metadata.tdb
  test/inputs/arrays/dense_array_v1_3_0/__b4cae15e1a294904a1296510c34f19ec_1538747712566/a.tdb
  test/inputs/arrays/dense_array_v1_3_0/__lock.tdb
  test/src/unit-backwards_compat.cc
Labels: tests

#995 Fix OpenSSL build error for more recent versions.
  tiledb/sm/encryption/encryption_openssl.cc
Labels: build, encryption

#996 Implemented coords out-of-bounds check during sparse writes. Closes #428
  HISTORY.md
  doc/source/performance/performance-factors.rst
  doc/source/tutorials/config.rst
  test/src/unit-capi-array.cc
  test/src/unit-capi-config.cc
  test/src/unit-capi-incomplete.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/config.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/storage_manager/config.cc
  tiledb/sm/storage_manager/config.h
Labels: missing check

#998 Parallelize copy of variable-length cell data in reads.
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
Labels: performance

#1002 Fix filter not being added to list in deprecated C++ API.
  tiledb/sm/cpp_api/attribute.h
Labels: C++ API

#1007 Add doc page on encryption.
  doc/source/gensidebar.py
  doc/source/tutorials/encryption.rst
  examples/c_api/encryption.c
  examples/cpp_api/encryption.cc
Labels: docs, encryption

#1008 Remove Blosc as a compressor.
  HISTORY.md
  README.md
  cmake/Modules/FindBlosc_EP.cmake
  cmake/Modules/FindLZ4_EP.cmake
  cmake/Modules/FindZstd_EP.cmake
  cmake/TileDB-Superbuild.cmake
  doc/source/conda-env.yml
  doc/source/installation.rst
  doc/source/introduction.rst
  doc/source/tutorials/compression.rst
  test/benchmarking/src/bench_dense_read_large_tile.cc
  test/benchmarking/src/bench_dense_read_small_tile.cc
  test/benchmarking/src/bench_dense_write_large_tile.cc
  test/benchmarking/src/bench_dense_write_small_tile.cc
  test/benchmarking/src/bench_sparse_read_large_tile.cc
  test/benchmarking/src/bench_sparse_read_small_tile.cc
  test/benchmarking/src/bench_sparse_write_large_tile.cc
  test/benchmarking/src/bench_sparse_write_small_tile.cc
  test/src/unit-capi-async.cc
  test/src/unit-capi-consistency.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-dense_neg.cc
  test/src/unit-capi-enum_values.cc
  test/src/unit-capi-incomplete.cc
  test/src/unit-capi-kv.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_neg.cc
  test/src/unit-capi-sparse_real.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-map.cc
  test/src/unit-cppapi-schema.cc
  test/src/unit-filter-pipeline.cc
  tiledb/CMakeLists.txt
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/c_api/tiledb_enum.h
  tiledb/sm/compressors/blosc_compressor.cc
  tiledb/sm/compressors/blosc_compressor.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/compressor.h
  tiledb/sm/cpp_api/filter.h
  tiledb/sm/enums/compressor.h
  tiledb/sm/enums/filter_type.h
  tiledb/sm/filter/compression_filter.cc
  tiledb/sm/filter/filter.cc
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/misc/stats_counters.h
Labels: API Breakage, compressors, disk format

#1013 Change char to uint8_t in generic tile header.
  tiledb/sm/tile/tile_io.cc
  tiledb/sm/tile/tile_io.h
Labels: disk format

#1015 Fix unused parameter warnings in C++ API.
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/dimension.h
  tiledb/sm/cpp_api/domain.h
  tiledb/sm/cpp_api/filter.h
  tiledb/sm/cpp_api/filter_list.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/cpp_api/map_schema.h
  tiledb/sm/cpp_api/object.h
  tiledb/sm/cpp_api/object_iter.h
  tiledb/sm/cpp_api/query.h
  tiledb/sm/cpp_api/vfs.h
Labels: C++ API, build

#1010 Add API functions to get timestamp from array object and reopen at timestamp
  HISTORY.md
  doc/source/c-api.rst
  test/src/unit-capi-array.cc
  test/src/unit-capi-kv.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-map.cc
  tiledb/sm/array/array.cc
  tiledb/sm/array/array.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/kv/kv.cc
  tiledb/sm/kv/kv.h
Labels: API Addition, C API, C++ API

#1016 Add on-disk format documentation page.
  doc/source/gensidebar.py
  doc/source/tutorials/format-description.rst
Labels: docs

#1023 [ci skip] Update Python code snippets for filters.
  doc/source/tutorials/compression.rst
  doc/source/tutorials/filters.rst
Labels: docs

#1020 Add test for array compatiblity. #956
  .travis.yml
  test/src/unit-backwards_compat.cc
Labels: backwards-compatibility

#1034 Set CMAKE_BUILD_TYPE for LZ4/Zlib and Zstd
  HISTORY.md
  cmake/Modules/FindLZ4_EP.cmake
  cmake/Modules/FindZlib_EP.cmake
  cmake/Modules/FindZstd_EP.cmake
Labels: backport, build, compressors, performance

#1040 Windows signal handling compile error fixes
  tiledb/sm/global_state/signal_handlers.cc
Labels: backport

#1036 Support AWS credentials in tiledb config
  HISTORY.md
  test/src/unit-capi-config.cc
  test/src/unit-cppapi-config.cc
  tiledb/sm/filesystem/s3.cc
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/storage_manager/config.cc
  tiledb/sm/storage_manager/config.h
Labels: config param, s3

#1039 Added missing check if coordinates obey the global order in global order sparse writes
  HISTORY.md
  doc/source/performance/performance-factors.rst
  doc/source/tutorials/config.rst
  test/src/unit-capi-config.cc
  test/src/unit-capi-sparse_array.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/config.h
  tiledb/sm/misc/stats_counters.h
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/storage_manager/config.cc
  tiledb/sm/storage_manager/config.h
Labels: config param, missing check

#1044 Use fPIC for zlib external project.
  cmake/Modules/FindZlib_EP.cmake
Labels: backport, build

#1045 Add missing return statement in switch block.
  tiledb/sm/cpp_api/attribute.h
Labels: C++ API, backport, bug

#1046 Fix compiler warning about lambda visibility.
  tiledb/sm/query/writer.cc
Labels: build

#1047 Fix two C++ API utility functions.
  test/src/unit-cppapi-util.cc
  tiledb/sm/cpp_api/query.h
  tiledb/sm/cpp_api/utils.h
Labels: C++ API, bug
