Repository TileDB-Inc/TileDB, pull requests merged in 2019-06, with the labels that each got.

#1296 Add support for datetime dimensions and attributes
  HISTORY.md
  doc/source/gensidebar.py
  doc/source/tutorials/datetimes.rst
  test/CMakeLists.txt
  test/src/unit-backwards_compat.cc
  test/src/unit-cppapi-datetimes.cc
  tiledb/sm/array/array.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/c_api/tiledb_enum.h
  tiledb/sm/compressors/dd_compressor.cc
  tiledb/sm/cpp_api/core_interface.h
  tiledb/sm/cpp_api/dimension.h
  tiledb/sm/cpp_api/exception.h
  tiledb/sm/cpp_api/type.h
  tiledb/sm/enums/datatype.h
  tiledb/sm/filter/bit_width_reduction_filter.cc
  tiledb/sm/filter/positive_delta_filter.cc
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/misc/utils.cc
  tiledb/sm/query/query.cc
  tiledb/sm/query/reader.cc
  tiledb/sm/query/writer.cc
  tiledb/sm/rtree/rtree.cc
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/subarray/cell_slab_iter.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray_partitioner.cc
  tools/src/commands/info_command.cc
Labels: API Addition, C API

#1298 Remove cast operators of C++ API objects to C API objects.
  HISTORY.md
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/config.h
  tiledb/sm/cpp_api/context.h
  tiledb/sm/cpp_api/dimension.h
  tiledb/sm/cpp_api/domain.h
  tiledb/sm/cpp_api/filter.h
  tiledb/sm/cpp_api/filter_list.h
  tiledb/sm/cpp_api/group.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/cpp_api/map_schema.h
  tiledb/sm/cpp_api/object.h
  tiledb/sm/cpp_api/object_iter.h
  tiledb/sm/cpp_api/query.h
  tiledb/sm/cpp_api/subarray.h
  tiledb/sm/cpp_api/vfs.h
Labels: API Breakage, C++ API

#1300 Serialization CI config was not actually building with serialization flag
  scripts/azure-linux_mac.yml
  test/src/unit-capi-serialized_queries.cc
Labels: CI, build, serialization

#1302 Supply timestamp for remote array read queries.
  tiledb/sm/array/array.cc
  tiledb/sm/rest/rest_client.cc
Labels: rest, serialization

#1293 Implemented new dense multi-range read algorithm
  test/CMakeLists.txt
  test/src/helpers.cc
  test/src/helpers.h
  test/src/unit-Reader.cc
  test/src/unit-ResultCellSlabIter.cc
  test/src/unit-Subarray.cc
  test/src/unit-backwards_compat.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-dense_array_2.cc
  test/src/unit-capi-incomplete.cc
  test/src/unit-capi-serialized_queries.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_array_2.cc
  test/src/unit-capi-subarray.cc
  test/src/unit-rtree.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/misc/comparators.h
  tiledb/sm/query/query.cc
  tiledb/sm/query/query.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/result_cell_slab.h
  tiledb/sm/query/result_cell_slab_iter.cc
  tiledb/sm/query/result_cell_slab_iter.h
  tiledb/sm/query/result_coords.h
  tiledb/sm/query/result_space_tile.h
  tiledb/sm/query/result_tile.h
  tiledb/sm/rtree/rtree.cc
  tiledb/sm/rtree/rtree.h
  tiledb/sm/serialization/query.cc
  tiledb/sm/subarray/cell_slab_iter.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
  tiledb/sm/subarray/subarray_partitioner.cc
  tiledb/sm/subarray/subarray_partitioner.h
Labels: enhancement, internals

#1303 Implement serialization for new read state; reenable tests.
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-incomplete.cc
  test/src/unit-capi-serialized_queries.cc
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/serialization/query.cc
  tiledb/sm/serialization/tiledb-rest.capnp.c++
  tiledb/sm/serialization/tiledb-rest.capnp.h
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
  tiledb/sm/subarray/subarray_partitioner.cc
  tiledb/sm/subarray/subarray_partitioner.h
Labels: rest, serialization

#1304 Redesigned C and C++ API for multi-range subarrays
  doc/source/c-api.rst
  test/CMakeLists.txt
  test/src/helpers.cc
  test/src/helpers.h
  test/src/unit-capi-dense_array_2.cc
  test/src/unit-capi-incomplete-2.cc
  test/src/unit-capi-query_2.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_neg_2.cc
  test/src/unit-capi-sparse_real_2.cc
  test/src/unit-cppapi-subarray.cc
  tiledb/CMakeLists.txt
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/c_api/tiledb_struct_def.h
  tiledb/sm/cpp_api/deleter.h
  tiledb/sm/cpp_api/query.h
  tiledb/sm/cpp_api/subarray.h
  tiledb/sm/cpp_api/tiledb
  tiledb/sm/query/query.cc
  tiledb/sm/query/query.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
Labels: C API, C++ API

#1305 Added examples and docs for multi-range subarray reads
  .gitignore
  doc/source/figures/multi_range_subarrays.graffle
  doc/source/figures/multi_range_subarrays.png
  doc/source/tutorials/reading.rst
  examples/c_api/multi_range_subarray.c
  examples/cpp_api/multi_range_subarray.cc
  test/src/unit-cppapi-subarray.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/query.h
Labels: C++ API, docs

#1314 Disallow null tile extents; FP tile extent bugfix
  HISTORY.md
  test/benchmarking/src/bench_dense_read_large_tile.cc
  test/benchmarking/src/bench_dense_write_large_tile.cc
  test/src/unit-SubarrayPartitioner-sparse.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-schema.cc
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/cpp_api/dimension.h
Labels: API Breakage, C API, C++ API

#1315 Fixed locking issues with getting the fragment info upon consolidation
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/storage_manager.cc
Labels: internals, process safety

#1319 Wrong and redundant assertion in loading fragment metadata footer
  tiledb/sm/fragment/fragment_metadata.cc
Labels: bug

#1320 Require dense reads and writes to always specify a subarray.
  HISTORY.md
  test/src/unit-backwards_compat.cc
  test/src/unit-capi-any.cc
  test/src/unit-capi-array.cc
  test/src/unit-capi-async.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-dense_neg.cc
  test/src/unit-capi-rest-dense_array.cc
  test/src/unit-capi-string.cc
  tiledb/sm/query/reader.cc
  tiledb/sm/query/writer.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
Labels: C API

#1321 Fix signed comparison compiler warning.
  tiledb/sm/encryption/encryption_openssl.cc
Labels: build

#1322 Deprecate all KV APIs.
  HISTORY.md
  doc/source/tutorials/kv.rst
  examples/CMakeLists.txt
  test/CMakeLists.txt
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/map.h
  tiledb/sm/cpp_api/map_schema.h
Labels: deprecation, key value

#1323 Renamed fragment URIs
  doc/source/tutorials/dense-arrays.rst
  doc/source/tutorials/fragments-consolidation.rst
  doc/source/tutorials/kv.rst
  doc/source/tutorials/multi-attribute-arrays.rst
  doc/source/tutorials/sparse-arrays.rst
  doc/source/tutorials/variable-length-attributes.rst
  doc/source/tutorials/writing-dense.rst
  doc/source/tutorials/writing-sparse.rst
  examples/cpp_api/writing_dense_multiple.cc
  test/CMakeLists.txt
  test/src/unit-Consolidator.cc
  tiledb/sm/fragment/fragment_info.h
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/misc/uri.h
  tiledb/sm/misc/utils.cc
  tiledb/sm/misc/utils.h
  tiledb/sm/query/query.cc
  tiledb/sm/query/query.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/writer.cc
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/consolidator.h
  tiledb/sm/storage_manager/open_array.cc
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
Labels: consolidation, format breakage
