Repository TileDB-Inc/TileDB, pull requests merged in 2019-02, with the labels that each got.

#1123 Add C/C++ APIs for existence checks of attributes/dims by name.
  HISTORY.md
  doc/source/c-api.rst
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-kv.cc
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/array_schema.h
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/domain.h
  tiledb/sm/cpp_api/map_schema.h
Labels: API Addition, C API, C++ API

#1124 Show error when doc target doesn't exist (b/c Doxygen)
  cmake/TileDB-Superbuild.cmake
Labels: build, docs

#1128 remove deprecated c/c++ api's
  HISTORY.md
  doc/source/c-api.rst
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-enum_values.cc
  test/src/unit-capi-stats.cc
  tiledb/CMakeLists.txt
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/array_schema.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/c_api/tiledb_enum.h
  tiledb/sm/cpp_api/array_schema.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/cpp_api/compressor.h
  tiledb/sm/cpp_api/tiledb
  tiledb/sm/enums/compressor.h
Labels: API Breakage, C API, C++ API, compressors

#1136 Fixed dense consolidation algorithm issue regarding read/write layout
  doc/source/c++-api.rst
  doc/source/tutorials/advanced-consolidation.rst
  test/src/unit-capi-consolidation.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/consolidator.h
Labels: bug

#1138 Fix KV consolidation write layout
  tiledb/sm/query/reader.cc
  tiledb/sm/query/writer.cc
  tiledb/sm/storage_manager/consolidator.cc
Labels: bug
