Repository TileDB-Inc/TileDB, pull requests merged in 2020-06, with the labels that each got.

#1666 Add arbitrary fill value support
  HISTORY.md
  doc/source/c-api.rst
  format_spec/array_schema.md
  test/CMakeLists.txt
  test/src/unit-capi-array.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-error.cc
  test/src/unit-capi-fill_values.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-fill_values.cc
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/attribute.cc
  tiledb/sm/array_schema/attribute.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/attribute.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/utils.cc
  tiledb/sm/misc/utils.h
  tiledb/sm/query/reader.cc
Labels: API Addition, Behavior Breakage

#1665 Fix typo in GCSSDK superbuild
  HISTORY.md
  cmake/Modules/FindGCSSDK_EP.cmake
Labels: backport release-2.0.4, cmake

#1667 Don't error on GCS client init failure
  HISTORY.md
  tiledb/sm/filesystem/gcs.cc
  tiledb/sm/filesystem/vfs.cc
Labels: GCS, backport release-2.0.4

#1671 Don't include curl's linking to ssl
  HISTORY.md
  tiledb/CMakeLists.txt
Labels: backport release-2.0.4, build, cmake

#1676 Posix VFS lock file permissions
  HISTORY.md
  tiledb/sm/filesystem/posix.cc
Labels: Linux, OSX, backport release-2.0.4, vfs

#1659 Ubuntu's capnp-dev package is missing targets
  HISTORY.md
  cmake/Modules/FindCapnp_EP.cmake
Labels: backport release-2.0.4, build, cmake

#1678 Build issue caused by passing std::string to an Aws method
  HISTORY.md
  tiledb/sm/filesystem/s3.cc
Labels: backport release-2.0.4, build, s3

#1682 Remove libz linkage from curl append libs
  HISTORY.md
  tiledb/CMakeLists.txt
Labels: backport, build

#1683 Compress and upload build directory in release CI
  scripts/azure-linux_mac-release.yml
  scripts/azure-windows-release.yml
Labels: CI, backport release-2.0.5

#1686 Fixed result estimator for empty or partially empty dense arrays
  HISTORY.md
  test/src/unit-capi-query_2.cc
  test/src/unit-cppapi-fill_values.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
Labels: bug

#1696 Add TileDB Serialization Cap'n Proto schema file
  tiledb/sm/serialization/tiledb-rest.capnp
Labels: serialization

#1702 Update TILEDB_UNORDERED description in tiledb.h
  tiledb/sm/c_api/tiledb.h
Labels: docs
