Repository TileDB-Inc/TileDB, pull requests merged in 2020-05, with the labels that each got.

#1629 Updating README for 2.0
  README.md
Labels: readme

#1637 Allow AWSSDK_ROOT_DIR override
  cmake/Modules/FindAWSSDK_EP.cmake
Labels: backport

#1630 Added quickstart section in README
  README.md
Labels: readme

#1646 Allow empty values for variable length attributes
  test/CMakeLists.txt
  test/src/unit-capi-empty-var-length.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-cppapi-array.cc
  tiledb/sm/query/query.cc
Labels: backport

#1650 Set TILEDB_LOG_OUTPUT_ON_FAILURE=ON by default
  CMakeLists.txt
Labels: backport, cmake

#1654 cmake packages should handle TILEDB_FORCE_ALL_DEPS
  cmake/Modules/FindAzureSDK_EP.cmake
  cmake/Modules/FindBzip2_EP.cmake
  cmake/Modules/FindCapnp_EP.cmake
  cmake/Modules/FindCatch_EP.cmake
  cmake/Modules/FindClipp_EP.cmake
  cmake/Modules/FindGCSSDK_EP.cmake
  cmake/Modules/FindLZ4_EP.cmake
  cmake/Modules/FindOpenSSL_EP.cmake
  cmake/Modules/FindSpdlog_EP.cmake
  cmake/Modules/FindZlib_EP.cmake
  cmake/Modules/FindZstd_EP.cmake
Labels: backport, cmake

#1655 Improve GCS build
  cmake/Modules/FindGCSSDK_EP.cmake
  cmake/inputs/patches/ep_gcssdk/build.patch
  cmake/inputs/patches/ep_gcssdk/disable_examples.patch
  cmake/inputs/patches/ep_gcssdk/disable_tests.patch
  tiledb/CMakeLists.txt
Labels: backport, cmake

#1656 Add generation of pkg-config file
  cmake/inputs/tiledb.pc.in
  tiledb/CMakeLists.txt
Labels: backport, build, cmake

#1657 S3 should use HeadObject for object size
  tiledb/sm/filesystem/s3.cc
Labels: s3, vfs

#1658 Remove all quiets from find_package
  cmake/Modules/FindAWSSDK_EP.cmake
  cmake/Modules/FindCapnp_EP.cmake
  cmake/Modules/FindOpenSSL_EP.cmake
  cmake/Modules/FindTBB_EP.cmake
Labels: backport, build, cmake

#1662 Always check ranges in read for multiple fragments
  test/src/unit-cppapi-consolidation-sparse.cc
  tiledb/sm/query/reader.cc
Labels: backport, internals
