Repository TileDB-Inc/TileDB, pull requests merged in 2020-03, with the labels that each got.

#1528 Subarray, Domain, Dimension and TileDomain refactoring towards addressing #93
  HISTORY.md
  test/src/helpers.cc
  test/src/unit-ReadCellSlabIter.cc
  test/src/unit-Reader.cc
  test/src/unit-Subarray.cc
  test/src/unit-TileDomain.cc
  test/src/unit-capi-array.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-cppapi-array.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/dimension.h
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/array_schema/tile_domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/dimension.h
  tiledb/sm/cpp_api/vfs.h
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/misc/status.cc
  tiledb/sm/misc/status.h
  tiledb/sm/misc/types.h
  tiledb/sm/misc/utils.cc
  tiledb/sm/misc/utils.h
  tiledb/sm/query/query.cc
  tiledb/sm/query/query.h
  tiledb/sm/query/read_cell_slab_iter.cc
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/result_space_tile.h
  tiledb/sm/query/write_cell_slab_iter.cc
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/serialization/array_schema.cc
  tiledb/sm/serialization/capnp_utils.h
  tiledb/sm/serialization/query.cc
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/subarray/cell_slab_iter.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
  tiledb/sm/subarray/subarray_partitioner.cc
Labels: internals, refactor

#1533 Update Catch2 to latest release
  cmake/Modules/FindCatch_EP.cmake
  test/CMakeLists.txt
Labels: build, tests

#1484 Update TBB to version 2020.1
  cmake/Modules/FindTBB_EP.cmake
Labels: build

#1551 Update TBB SHA1 for new TBB repository name
  cmake/Modules/FindTBB_EP.cmake
Labels: TBB, build, cmake

#1547 User can set separate coordinate buffers upon reads
  HISTORY.md
  test/src/unit-SubarrayPartitioner-error.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-query_2.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-cppapi-array.cc
  tiledb/sm/array/array.cc
  tiledb/sm/array/array.h
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/array_schema.h
  tiledb/sm/array_schema/attribute.cc
  tiledb/sm/array_schema/attribute.h
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/dimension.h
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/misc/types.h
  tiledb/sm/query/query.cc
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/writer.cc
  tiledb/sm/serialization/query.cc
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/consolidator.h
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
  tiledb/sm/subarray/subarray_partitioner.cc
  tiledb/sm/subarray/subarray_partitioner.h
Labels: internals, refactor

#1553 The user can now add separate filter lists per dimension
  HISTORY.md
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-cppapi-schema.cc
  test/src/unit-filter-pipeline.cc
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/array_schema.h
  tiledb/sm/array_schema/attribute.cc
  tiledb/sm/array_schema/attribute.h
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/dimension.h
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/cpp_api/dimension.h
  tiledb/sm/filter/bit_width_reduction_filter.cc
  tiledb/sm/filter/bit_width_reduction_filter.h
  tiledb/sm/filter/bitshuffle_filter.cc
  tiledb/sm/filter/bitshuffle_filter.h
  tiledb/sm/filter/byteshuffle_filter.cc
  tiledb/sm/filter/byteshuffle_filter.h
  tiledb/sm/filter/checksum_md5_filter.cc
  tiledb/sm/filter/checksum_md5_filter.h
  tiledb/sm/filter/checksum_sha256_filter.cc
  tiledb/sm/filter/checksum_sha256_filter.h
  tiledb/sm/filter/compression_filter.cc
  tiledb/sm/filter/compression_filter.h
  tiledb/sm/filter/encryption_aes256gcm_filter.cc
  tiledb/sm/filter/encryption_aes256gcm_filter.h
  tiledb/sm/filter/filter.h
  tiledb/sm/filter/filter_pipeline.cc
  tiledb/sm/filter/filter_pipeline.h
  tiledb/sm/filter/noop_filter.cc
  tiledb/sm/filter/noop_filter.h
  tiledb/sm/filter/positive_delta_filter.cc
  tiledb/sm/filter/positive_delta_filter.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/writer.cc
  tiledb/sm/serialization/array_schema.cc
  tiledb/sm/serialization/tiledb-rest.capnp.c++
  tiledb/sm/serialization/tiledb-rest.capnp.h
  tiledb/sm/storage_manager/storage_manager.cc
Labels: API Addition, internals, refactor

#1558 Added support for heterogeneous dimensions
  HISTORY.md
  test/CMakeLists.txt
  test/src/helpers.cc
  test/src/helpers.h
  test/src/unit-Reader.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-dense_array.cc
  test/src/unit-capi-sparse_array.cc
  test/src/unit-capi-sparse_heter.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-checksum.cc
  test/src/unit-cppapi-schema.cc
  test/src/unit-rtree.cc
  tiledb/sm/array/array.cc
  tiledb/sm/array_schema/array_schema.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/c_api/tiledb_serialization.h
  tiledb/sm/cpp_api/array.h
  tiledb/sm/cpp_api/domain.h
  tiledb/sm/query/query.cc
  tiledb/sm/query/query.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/rest/rest_client.cc
  tiledb/sm/rest/rest_client.h
  tiledb/sm/serialization/array_schema.cc
  tiledb/sm/serialization/array_schema.h
  tiledb/sm/serialization/capnp_utils.h
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
  tiledb/sm/subarray/subarray.cc
  tools/src/commands/info_command.cc
  tools/src/commands/info_command.h
Labels: API Addition, new_feature

#1573 Various performance improvements
  HISTORY.md
  test/CMakeLists.txt
  test/src/helpers.cc
  test/src/helpers.h
  test/src/unit-Consolidator.cc
  test/src/unit-backwards_compat.cc
  test/src/unit-capi-array_schema.cc
  test/src/unit-capi-config.cc
  test/src/unit-capi-consolidation.cc
  test/src/unit-capi-metadata.cc
  test/src/unit-cppapi-array.cc
  test/src/unit-cppapi-consolidation.cc
  test/src/unit-cppapi-metadata.cc
  test/src/unit-duplicates.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/array_schema/domain.cc
  tiledb/sm/array_schema/domain.h
  tiledb/sm/buffer/const_buffer.cc
  tiledb/sm/c_api/tiledb.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/config/config.cc
  tiledb/sm/config/config.h
  tiledb/sm/cpp_api/array.h
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/metadata/metadata.cc
  tiledb/sm/metadata/metadata.h
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/misc/uri.cc
  tiledb/sm/misc/uri.h
  tiledb/sm/misc/utils.cc
  tiledb/sm/misc/utils.h
  tiledb/sm/query/reader.cc
  tiledb/sm/query/reader.h
  tiledb/sm/query/writer.cc
  tiledb/sm/query/writer.h
  tiledb/sm/storage_manager/consolidator.cc
  tiledb/sm/storage_manager/consolidator.h
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
Labels: consolidation, disk format, enhancement, performance

#1576 Added missing C++ test for heterogeneous dimensions
  test/src/unit-cppapi-array.cc
Labels: missing test
