Repository TileDB-Inc/TileDB, pull requests merged in 2021-03, with the labels that each got.

#2115 Adjust serialized query buffer sizes
  HISTORY.md
  tiledb/sm/serialization/query.cc
  tiledb/sm/serialization/tiledb-rest.capnp
  tiledb/sm/serialization/tiledb-rest.capnp.c++
  tiledb/sm/serialization/tiledb-rest.capnp.h
Labels: backport release-2.2, rest, serialization

#2120 Unsplittable serialized queries need to recompute tile_overlap
  HISTORY.md
  tiledb/sm/serialization/query.cc
Labels: backport release-2.2, serialization

#2125 Fix bug in `ResultTile::compute_results_sparse<char>`
  HISTORY.md
  tiledb/sm/query/result_tile.cc
Labels: backport release-2.2

#2131 Print read stats when array is opened
  HISTORY.md
  tiledb/sm/stats/stats.cc
Labels: backport release-2.2, stats

#2126 Consolidation/vacuum should use ctx if config null
  HISTORY.md
  test/src/unit-capi-consolidation.cc
  tiledb/sm/c_api/tiledb.cc
Labels: backport release-2.2, consolidation

#2135 Fix consolidated fragment metadata parsing
  HISTORY.md
  tiledb/sm/fragment/fragment_metadata.cc
  tiledb/sm/fragment/fragment_metadata.h
  tiledb/sm/storage_manager/storage_manager.cc
  tiledb/sm/storage_manager/storage_manager.h
Labels: backport release-2.2, consolidation

#2137 Fix range offset access in `Subarray::tile_overlap_`
  HISTORY.md
  tiledb/sm/query/reader.cc
  tiledb/sm/subarray/subarray.cc
  tiledb/sm/subarray/subarray.h
Labels: backport release-2.2

#2145 Apply 'var_offsets.extra_element' mode to string dimension offsets too
  test/src/unit-cppapi-var-offsets.cc
  tiledb/sm/query/reader.cc
Labels: backport release-2.2, internals

#2148 Improve GCS retries
  HISTORY.md
  test/src/unit-capi-config.cc
  test/src/unit-cppapi-config.cc
  tiledb/sm/c_api/tiledb.h
  tiledb/sm/config/config.cc
  tiledb/sm/config/config.h
  tiledb/sm/cpp_api/config.h
  tiledb/sm/filesystem/gcs.cc
  tiledb/sm/filesystem/gcs.h
Labels: GCS, backport release-2.2

#2151 Add history for #2145
  HISTORY.md
Labels: backport release-2.2

#2161 Add additional internal log level functions
  HISTORY.md
  tiledb/common/logger.h
Labels: internals

#2163 Fix check for null pointer in query deserialization
  tiledb/sm/serialization/query.cc
Labels: backport release-2.2, serialization
