Repository TileDB-Inc/TileDB, pull requests merged in 2021-02, with the labels that each got.

#2077 Add test and fix mutex errors on Windows
  HISTORY.md
  test/src/unit-capi-array.cc
  tiledb/sm/storage_manager/storage_manager.cc
Labels: backport release-2.2

#2087 Adjust GCS multipart locking to be URI based
  HISTORY.md
  tiledb/sm/filesystem/gcs.cc
  tiledb/sm/filesystem/gcs.h
  tiledb/sm/filesystem/s3.cc
Labels: GCS, backport release-2.2, vfs

#2089 Limit range splits on string dimensions
  HISTORY.md
  test/CMakeLists.txt
  test/src/unit-cppapi-string-dims.cc
  tiledb/sm/array_schema/dimension.cc
  tiledb/sm/misc/constants.cc
  tiledb/sm/misc/constants.h
  tiledb/sm/misc/types.h
Labels: backport release-2.2, internals

#2095 Add breakdown of read_state init times
  HISTORY.md
  tiledb/sm/stats/stats.cc
Labels: backport release-2.2, stats
